$layout-breakpoint-small: 400px;
$layout-breakpoint-medium: 800px;

.shorten-form {
  padding: 60px 15px;
  margin-bottom: 30px;
  background-color: #eee;

  &__content {
    max-width: 780px;
    margin: 0 auto;
    padding: 30px 15px;
    background-color: white;
    box-shadow: 1px 1px 5px #8888;
    box-sizing: border-box;

    @media (max-width: $layout-breakpoint-medium) {
      padding: 30px 10px;
    }
  }

  &__title {
    font-size: 24px;
    padding-bottom: 1em;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    flex: 1 0;
    padding: 0.5em 1em;
    font-size: var(--fs-normal);
    border: 2px solid #eee;
    outline: none;

    &:focus {
      border: 2px solid var(--c-main-brand);
    }
  }

  &__button {
    flex: 0 0 150px;
    @media (max-width: $layout-breakpoint-small) {
      flex: 0 0 100%;
    }
  }

  &__error {
    padding-top: 15px;
    &:empty {
      display: none;
    }
  }
}

.value-prop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;

  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 10px;
  }

  &__item {
    width: 300px;
    text-align: center;
    margin: 0 10px 20px;
  }

  &__title {
    font-size: var(--fs-big);
    color: var(--c-main-brand);
  }

  &__img {
    width: 50%;
  }
}

.url-details {
  padding: 60px 15px;
  margin-bottom: 30px;
  background-color: #eee;

  &__content {
    max-width: 780px;
    margin: 0 auto;
  }

  &__url {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    flex: 1 0;
    padding: 0.5em 1em;
    font-size: var(--fs-normal);
    border: 1px solid var(--c-dark-accent);
    outline: none;
  }

  &__copy {
    flex: 0 0 150px;
    @media (max-width: $layout-breakpoint-small) {
      flex: 0 0 100%;
    }
  }

  &__item {
    padding-top: 15px;
  }

  a {
    color: var(--c-main-brand);
  }
}

.stats {
  padding: 15px;

  &__content {
    max-width: 780px;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }

  &__item {
    flex: 0 0 33%;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: $layout-breakpoint-small) {
      flex: 0 0 100%;
    }
  }

  &__header {
    font-size: var(--fs-small);
    font-weight: bold;
  }

  &__body {
    font-size: var(--fs-bigger);
    font-weight: bold;
  }

  &__footer {
    font-size: var(--fs-small);
  }
}